.jumbotron {
  padding-top: 6rem;
  background-color: #d4f1f4;
}

#Artikel {
  background-color: #d4f1f4;
}

.btn{
  background-color: #0275d8;
  padding: 2px 5px ;
  transition: .8s;
}

.btn a{
  text-decoration: none;
  border-radius: 5px;
}

button:hover{
  background-color: #035298 !important;
  transform: scale(1.2);
}

section {
  padding-top: 5rem;
}

.navbar-brand {
  color: white;
}

.jumbotron img {
  width: 300px;
}

.cover {
  position: relative;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.member-meta {
  padding: 15px;
}

.judul{
  padding-bottom: 20px;
	text-align: center;
	margin:20px;
	position: relative;
}

.judul::before{
  content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width:180px;
	height:12px;
	background-color: #0275d8;
	left: calc(50% - 90px);
  z-index: 1;
  border-radius: 30px 30px 30px 30px;
}

.judul::after{
  content:'';
	display: block;
	position: absolute;
	bottom: 0px;
	width:90px;
	height:12px;
	background-color: #D4F1F4;
	left: calc(50%);
  z-index: 1;
  border-radius: 0 30px 30px 0;
  
}

.border{
  border: solid 2px #0275d8 !important;
  border-radius: 10px;
}

.border-0{
  border: solid 2px #0275d8 !important;
}
